<#include "/custom.include">
<#assign className = table.className>   
<#assign classNameLower = className?uncap_first>
package ${basepackage}.controller;

	
	spring-shiro.xml 配置内容
	
	<!-- ${moduleComment} -->
	/${classNameLower}/list.action=perms["${classNameLower}:list"]
	/${classNameLower}/toAdd.action=perms["${classNameLower}:add"]
	/${classNameLower}/add.action=perms["${classNameLower}:add"]
	/${classNameLower}/toEdit.action=perms["${classNameLower}:edit"]
	/${classNameLower}/edit.action=perms["${classNameLower}:edit"]
	/${classNameLower}/toView.action=perms["${classNameLower}:detail"]
	
	
	/${classNameLower}/modifyDeleteStatus.action=perms["${classNameLower}:modifyDeleteStatus"]
	
	权限sql
	INSERT INTO permission values (10800,'${moduleComment}管理','${classNameLower}:list'); 
	INSERT INTO permission values (10801,'${moduleComment}添加','${classNameLower}:add'); 
	INSERT INTO permission values (10802,'${moduleComment}修改','${classNameLower}:edit'); 
	INSERT INTO permission values (10803,'${moduleComment}详情','${classNameLower}:detail'); 
	INSERT INTO permission values (10804,'停用启用${moduleComment}','${classNameLower}:disableAndEnabled');
	
	//newMain.ftl 菜单
	<#noparse>
      <#if subject.isPermitted("accountExpandInfo:detail")> </#noparse> <#noparse><#--</#noparse>${classNameLower}:add  -->

     	 <!-- 用户bug管理 -->
     		<div class="MenuLevel1"> ${moduleComment}管理 <span><img src="/images/1.gif" border="0"/></span></div>
     			<div class="SubMenu">
      			<a class="MenuLevel4" href="/${classNameLower}/list.action"> <img src="/images/bullet_sarrow.gif"/> &nbsp;&nbsp;<span id="${classNameLower}_list">用户bug管理</span></a>
     		</div>
   	<#noparse>
     </#if>
   </#noparse>
	 
	